#app1, #app2, #app3, #app4 {
  margin-bottom: 50px;
}

header {
  margin-bottom: 250px;
}

.main-head-div {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.button-bar {
  text-align: center;
  background-color: #2a2a2a;
}

.main, .logo, .bottom-button-bar {
  border: 1px solid black;
}

.main {
  background-color: black;
  padding-bottom: 40px;
}

.logo {
  width: 200px;
  height: 150px;
  float: left;
}

.bottom-button-bar {
  float: left;
}

.search {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid white;
  padding: 15px;
}

.search-type-container {
  margin-right: 30px;
}


.button-bar button {
  background-color: #2a2a2a;
  color: lightgray;
  border: none;
  font-size: 15px;
  padding: 5px;
}

.button-bar button:hover {
  color: whitesmoke;
  cursor: pointer;
}

.header-search {
  background-color: grey;
  padding: 8px;
  color: white;
}

.magnifying-glass {
  background-color: grey;
  padding: 4px;
}

.header-search::placeholder {
  color: white;
}

.type-button {
  font-size: 15px;
  border: none;
  background-color: black;
  color: white;
  margin-right: 5px;
}

.type-button:hover, .services:hover {
  color: #a1c900;
  cursor: pointer;
}

.services {
  border: none;
  background-color: black;
  color: white;
}

.services-div {
  float: right;
}